*.pyc
*.so
*.history
*.root

DataFormats/
EgammaAnalysis/
IPHCDataFormat/
IPHCProducer/
JetMETCorrections/
PhysicsTools/
RecoEgamma/
RecoMET/

Prod_data/json/
Prod_data/Single*

Prod_bdf/QCD_Pt*
Prod_bdf/*Jets*
Prod_bdf/Tbar_*
Prod_bdf/T_*
Prod_bdf/TT*
Prod_bdf/*Incl*
